.contact {
    margin-top: 192px;
}
.contact h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 800;
    width: 40%;
}
.contact p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 40%;
    margin: 8px 0 32px;
}
.contact a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    width: 306px;
    height: 43px;
    background-color: #E05124;
    color: white;
    box-shadow: 0 8px 30px rgba(224, 81, 36, 0.4);
    padding: 0.5rem 2rem;
}