.doing {
    padding: 38px 0 39px 24px;
    box-shadow: 0 16px 100px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    margin-top: 215px;
}
.doing h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 19px;

}
.doing p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.doing .text {
    width: 736px;
}
.doing img {
    width: 266px;
    height: 361px;
    position: absolute;
    top: 0;
    right: 0;
}