header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
header .Logo {
    display: flex;
}
header .Logo a {
    font-family: 'Squada One', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
header .Elements a {
    margin: 0 28px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
}
